.buildpath
.project
!.gitkeep
/.idea/*
/.settings/*
/app/cache/*
/app/logs/*
!app/bootstrap.php.cache
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/.git
/web/.htaccess
/web/bundles/
/web/css/
