.buildpath
.project
/.idea/*
/.settings/*
/app/cache/*
/app/logs/*
!app/bootstrap.php.cache
!app/cache/.gitkeep
!app/logs/.gitkeep
/NaviPlus/*
/build/
/vendor/.git
/web/.htaccess
/web/bundles/
/web/css/
/web/media/
/web/uploads/
!.gitkeep
