{% extends "AwEventBundle::layout.html.twig" %}

{% block page_title -%}
    {{ 'top_page.indexScreen'|trans }}
{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">準備中</h3>
        </div>
        <div class="panel-body">
            <div class="panel-body">作業メンバ：松谷，高良</div>
        </div>
    </div>
{% endblock %}
