<ul class="nav top nav-pills">
    <li>
        <a href="{{ path('top') }}">トップページ</a>
    </li>
    <li>
        <a href="{{ path('diagnose_enneagram_free') }}">エニアグラム診断</a>
    </li>
    <li>
        <a href="{{ path('login') }}">ログイン</a>
    </li>
</ul>
