<ul class="nav top nav-pills">
    <li>
        <a href="{{ path('member_my_page') }}">マイページ</a>
    </li>
    <li>
        <a href="{{ path('diagnose_enneagram_option') }}">エニアグラム診断</a>
    </li>
    <li>
        <a href="{{ path('logout') }}">ログアウト</a>
    </li>
</ul>
