{% extends "AwEventBundle::layout.html.twig" %}

{% block page_title -%}
    メンバー{{ 'com_page.myPageScreen'|trans }}
{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">マイページ</h3>
        </div>
        <div class="panel-body">
            <div class="panel-body">一般ユーザ</div>
        </div>
    </div>
{% endblock %}
