body {
  padding-top: 40px;
}
.content {
  margin: 0-20px;
  padding: 20px;
}
.main-container > footer {
  margin-bottom: 30px;
  margin-top: 20px;
}
.main-container > footer p {
  text-align: center;
}
.logo {
  height: auto;
  width: 100px;
}
.aw-navbar {
  margin: 20px 0px 20px 0px;
  clear: both;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #f7b122;
  color: #fff;
}
.nav > li > a {
  background-color: #8cd9f7;
  color: #FFFFFF;
  display: block;
  padding: 10px 3px;
  position: relative;
  text-align: center;
  width: 120px;
}
.nav-pills > li > a {
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -moz-border-bottom-radius: 0 !important;
  -webkit-border-bottom-radius: 0 !important;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}
footer {
  background-color: #8cd9f7;
  clear: both;
  color: #fff;
  display: block;
  height: 42px;
  margin-top: 40px;
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}

.type-link {
  margin: 5px 5px;
  padding: 30px;
  border: solid #8cd9f7;
}
.type-table {
  margin: auto;
  max-width: 800px;
  text-align: center;
}
.type-cnt {
  display: inline-block;
  border-radius: 3px;
  background: #8cd9f7;
  text-align: center;
  width: 130px;
  border: none;
  color: blue;
  font-weight: bold;
}
